* {
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(53, 140, 53);
  width: 100%;
  padding: 3em;
}

#titulo {
  text-align: center;
  color: white;
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}

.section-picture {
  padding: 10em 2em 0;
}

#minha_foto {
  width: 15em;
  border-radius: 5%;
}

#link {
  display: block;
  padding: 0.5em 0;
  font-size: 150%;
  font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

.section-lessons {
  padding: 3em 2em;
}

#title-lessons {
  padding: 0 0 2em;
  font-size: 180%;
}

#licoes_aprendidas {
  width: 20%;
  float: left;
  font-size: 130%;
}

#licoes_a_aprender {
  padding: 0 25%;
  font-size: 130%;
}

.flex-box {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

/* artigo */
.lado-esquerdo {
  border-style: dotted;
  font-size: 120%;
  max-width: 40%;
  padding: 2em;
}

/* aside */
.lado-direito {
  border-style: dotted;
  float: right;
  line-height: 150%;
  font-size: 120%;
  padding: 2em;
  max-width: 40%;
  flex-grow: 1;
}

.table {
  width: 500px;
  margin: 3em;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.row-header {
  background-color: rgb(173, 173, 173);
  display: table-row;
  text-align: center;
}

.row {
  background-color: white;
  display: table-row;
  text-align: center;
}

#rodape {
  float: left;
  width: 100%;
  padding-left: 4em;
  padding-top: 0.5em;
  background-color: rgba(216, 216, 216, 0.279);
  color: rgb(152, 152, 152);
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
