body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

#titulo {
    float: right;
    background-color: green;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
}